<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BlogList</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
    <h1>Selected Article</h1>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        <th scope="row"><%= @article.id %></th>
        <td><%= @article.title %></td>
        <td><%= @article.body %></td>
        <td>CRUD</td>
        </tr>
    </tbody>

    </table>

    <div class="container-fluid">
        <%= link_to "Home", root_path, class: "btn btn-outline-success", type: "button" %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-warning", type: "button" %>
        <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", type: "button", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
        }%>
    </div><br><br><br>

      <div class="container-fluid">
      <h4>Comments</h4>
      <% @article.comments.each do |comment| %>
        <div class="card mb-3">
          <div class="card-header">
            <strong>Commenter: </strong><%= comment.commenter %>
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Comment:</strong> <%= comment.body %></p>
          </div>
        </div>
      <% end %>
      </div>

      <div class="container-fluid">
      <h4>Add Your Comments</h4>
      <%= form_with model: [ @article, @article.comments.build ], class: "form" do |form| %>
        <div class="form-group">
            <%= form.label :commenter %>
            <%= form.text_field :commenter, class: "form-control", placeholder: "Enter your name" %>
        </div>
        <div class="form-group">
            <%= form.label :body %>
            <%= form.text_area :body, class: "form-control", placeholder: "Enter your comment" %>
        </div>
        <%= form.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>

      </div>


  </div>



    <!-- TODO: Here goes your content! -->



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
